.designDiv{
	background-color : "FloralWhite";
	border-style:outset;
	border-color: gray;
	height: 300px
}

.modelDescription{
	background-color : "FloralWhite";
	width=60px
}

.thumbnails{
	height = 100
}


